<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#user" aria-expanded="false"
                aria-controls="user">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Người dùng</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/create-user">Thêm người dùng</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/admin/all-users">Tất cả người dùng</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#post" aria-expanded="false" aria-controls="post">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Bài viết</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="post">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/create-post">Thêm bài viết</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/admin/all-posts">Tất cả bài viết</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>