<%- include('../layouts/header') %>

<div class="container my-3">
    <form method="POST" action="/user/change-password">
        <div class="mb-3 col-6">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
            <% if (typeof errMsg != 'undefined') { %>
            <p class="text text-danger"><%= errMsg %></p>
            <% } %>
        </div>
        <div class="mb-3 col-6">
            <label class="form-label">New Password</label>
            <input type="password" class="form-control" name="newPassword">
            <% if (typeof errorsArray != 'undefined') { %>
            <% errorsArray.forEach(err => { %>
                <p class="text text-danger"><%= err.msg %></p>
            <% }) %>
            <% } %>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<%- include('../layouts/footer') %>