<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Khôi phục mật khẩu</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Mật khẩu đã khôi phục</h2>
        <h3>Xin chào</h3>
        <p style="font-size:20px;color:#5C5C5C;">Mật khẩu của bạn đã được khôi phục. Xin mời đăng nhập</p>
        <a href="/login" class="btn btn-success">Đăng nhập</a>
    <br><br>
        </div>
        
	</div>
</div>
